<form nz-form
  [formGroup]="validateForm"
  class="money-description-form"
  (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="amountErrorTip">
      <nz-input-group>
        <input nz-input
          nzSize="large"
          type="number"
          formControlName="amount" 
          sosNoSpaceInput
          [placeholder]="amountPlaceholder" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <h3 nz-typography>{{moneyDescription}}</h3>
  <button nz-button
    [nzType]="'primary'"
    [nzSize]="'large'">
    <span>Submit</span>
  </button>
</form>

